In [1]:
import pandas as pd

In [2]:
hurricane_tweet = pd.read_csv("/home/is/shuntaro-o/dev/disaster_analysis_Twitter/data/Hurricane/Japan_2019Hurricane.csv")

/tmp/ipykernel_42443/2199412338.py:1: DtypeWarning: Columns (0,1,2,3,4,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  hurricane_tweet = pd.read_csv("/home/is/shuntaro-o/dev/disaster_analysis_Twitter/data/Hurricane/Japan_2019Hurricane.csv")

In [3]:
UserPlase = pd.read_csv('/home/is/shuntaro-o/dev/disaster_analysis_Twitter/data/Foursquare_Osaka/FoursquareUserPlacesOsaka_20210511.txt', sep=',', lineterminator='\n', header=None,names = ['place_id', 'city_name', 'object', 'country', 'UserPlase_longitude', 'UserPlase_latitude', 'UserPlase_sub_longitude', 'UserPlase_sub_latitude'])

In [4]:
UserPlase

,place_id,city_name,object,country,UserPlase_longitude,UserPlase_latitude,UserPlase_sub_longitude,UserPlase_sub_latitude
0,2e0214bf8fffce3e,岡山 北区,city,日本,133.739451,34.618703,133.994635,34.948925
1,588c2314670a7136,愛媛 今治市,city,日本,132.808019,33.901953,133.191454,34.299790
2,658025f3b87efc97,広島 福山市,city,日本,133.210533,34.332373,133.456436,34.712255
3,87f7bd2fc4bf1d36,広島 東広島市,city,日本,132.600485,34.263665,132.920910,34.623801
4,8fb5fa5f07eb0141,広島 三原市,city,日本,132.847499,34.317110,133.162754,34.593661
...,...,...,...,...,...,...,...,...
688015,4f114c4fd23ca323,香川 琴平町,city,日本,133.799781,34.174743,133.836112,34.222786
688016,987dcf109497521b,高知 高知市,city,日本,133.394215,33.459289,133.625495,33.681402
688017,b74dabb385d367f6,高知 南国市,city,日本,133.559811,33.519401,133.684936,33.706261
688018,6597a3a04e11fb7d,大阪 田尻町,city,日本,135.218512,34.383275,135.300372,34.446086
688019,b637b5cf28656648,広島 広島市 南区,city,日本,132.414170,34.296444,132.561093,34.406427

In [4]:
UserPlase =UserPlase[~UserPlase.duplicated()]

In [5]:
hurricane_tweet = hurricane_tweet.rename(columns={'PlaceID':'place_id'})

In [6]:
merged_Tweet_place = pd.merge(hurricane_tweet , UserPlase, how='inner', on = "place_id")

In [7]:
def UTM_cal(lat,lon):
    p,a=divmod(lat*60,40)
    q,b=divmod(a,5)
    r,c=divmod(b*60,30)
    s,d=divmod(c,15)
    t,e=divmod(d,7.5)

    u=str(lon-100)[0:2]
    f=lon-int(u)-100
    v,g=divmod(f*60,7.5)
    w,h=divmod(g*60,45)
    x,i=divmod(h,22.5)
    y,j=divmod(i,11.25)

    m=(s*2)+(x+1)
    n=(t*2)+(y+1)
    p=int(p)
    u=int(u)
    q=int(q)
    v=int(v)
    r=int(r)
    w=int(w)
    m=int(m)
    n=int(n)

    ans=str(p)+str(u)
    ans=int(ans)
    return(ans)

In [8]:
merged_Tweet_place = merged_Tweet_place.dropna(subset=['UserPlase_longitude','UserPlase_latitude'])

In [9]:
merged_Tweet_place = merged_Tweet_place.reset_index(drop=True)

In [10]:
code_list=[]
for index, r in merged_Tweet_place.iterrows():
    ans=UTM_cal(r.UserPlase_latitude,r.UserPlase_longitude)
    code_list.append(ans)

In [11]:
code_list=pd.Series(code_list)
merged_Tweet_place=pd.concat([merged_Tweet_place,code_list],axis=1)
merged_Tweet_place=merged_Tweet_place.rename(columns={0: 'code'})

In [12]:
merged_Tweet_place = merged_Tweet_place.dropna(subset=['UserPlase_longitude','UserPlase_longitude'])

In [1]:
merged_Tweet_place = merged_Tweet_place.reset_index(drop=True)

NameError: name 'merged_Tweet_place' is not defined

In [15]:
merged_Tweet_place.to_csv("/home/is/shuntaro-o/dev/disaster_analysis_Twitter/data/Hurricane/merged_data.csv",  index=False)